@font-face {
  font-family: Electrolize;
  src: url(./assets/Electrolize/Electrolize-Regular.ttf);
}

@font-face {
  font-family: Orbitron;
  src: url(./assets/Orbitron/Orbitron-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Electrolize, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Orbitron, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
